<%- include("partials/header") %> 

<div class="container text-center">
    <h1 class="display-6">Welcome to the Help Desk</h1>
    <p>Use the link above to create a new help ticket</p>
</div>

<%- include("partials/footer") %> 